@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>MUSTERI ID</th>
        <th>MUSTERI AD</th>
        <th>MUSTERI SOYAD</th>

    </tr>
    <tbody>
        @foreach (var mst in Model)
        {
        <tr>
            <td>@mst.MUSTERIID</td>
            <td>@mst.MUSTERIAD</td>
            <td>@mst.MUSTERISOYAD</td>
        </tr>
        }
    </tbody>
</table>
<a href="/Musteriler/YeniMusteri" class="btn btn-primary">Yeni müşteri ekle</a>
